/* default design start here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
/* default design ends here */

/* nabBar design starts here */
.nav-bar {
  background-color: #2c3e50;
  display: flex;
  justify-content: space-around;
  padding: 25px 0px;
}
.logo {
  font-size: 1.5rem;
  color: #9b59b6;
  border: 1px solid white;
  border-radius: 15px;
  padding: 10px;
}
.logo span {
  color: #e67e22;
  font-style: italic;
}
.search-feild {
  margin-top: 12px;
}
.search-feild input {
  padding: 8px;
  outline: none;
}
.search-feild button {
  padding: 8px 25px;
  background-color: #e67e22;
  border: none;
  border-radius: 3px;
}
.menu {
  margin-top: 7px;
}
.menu ul {
  display: flex;
}
.menu ul li {
  list-style: none;

  padding: 8px 12px;
}
.menu ul li:hover {
  background-color: #e67e22;
}
.menu ul li a {
  color: #fff;
  font-size: 20px;
  text-transform: capitalize;
}

/* nabBar design  ends here */

/* cover design starts here */
.cover {
  background: url(image/cover.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.cover-content {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 300px;
  text-align: center;
  color: #fff;
}
.cover-content h3 {
  font-size: 2rem;
  margin-bottom: 12px;
}
.cover-content h3 span {
  color: #e67e22;
  font-style: italic;
  font-size: 2.2rem;
}
/* cover design emds here */

/* about me design starts here */
.about-section {
  padding: 60px;
  display: flex;
  justify-content: space-around;
  /* flex-flow: wrap; */
}
.own-feild {
  width: 45%;
}
.own-feild img {
  /* width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-left: 65px;
  border-radius: 50%; */
}
.content {
  margin: 80px;
  width: 45%;
}
.content h2 {
  font-size: 2.2rem;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.content h2 span {
  color: #e67e22;
}
.content button {
  background: #e67e22;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  margin-top: 15px;
}
/* about me design ends here */

/* team design starts here */
.team-area {
  background-color: #f2f2f2;
}
.container {
  width: 90%;
  margin: 0 auto;
  padding: 50px 0px;
  background-color: #f2f2f2;
}
.section-title {
  text-align: center;
  margin-bottom: 30px;
}
.section-title h2 {
  color: #e67e22;
  font-size: 2.2rem;
}
.team-members {
  display: flex;
  justify-content: space-between;
}
.member {
  position: relative;
  width: 23.5%;
  overflow: hidden;
}
.team-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
}
.member:hover .team-overlay {
  right: 0;
}
.member-info {
  padding: 0;
  text-align: center;
}
.member-info h4 {
  color: #fff;
  margin-bottom: 8px;
}
.member-info ul {
  list-style: none;
  display: flex;
}
.member-info ul li {
}
.member-info ul li a {
  color: #fff;
  padding-right: 10px;
}
.member-info ul li a :hover {
  color: #e67e22;
}
/* team design ends here */

/*-=-=-=-=-=-=-=-=-=-=-
 contact design starts here
-=-=-=-=-=-=-=-=-=-=- */
.contact-area {
}
.section-title h1 {
  font-size: 2.2rem;
  text-transform: capitalize;
}
.section-title h1 span {
  color: #e67e22;
}
.contact-form {
  width: 50%;
  margin: 0 auto;
}
.contact-form input,
textarea {
  width: 100%;
  padding: 10px 7px;
}
.user-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}
.f-name {
  width: 48%;
}
.l-name {
  width: 48%;
}
.user-email {
  margin-bottom: 8px;
}

.user-msg {
}
.submit-btn input {
  margin-top: 8px;
  background-color: #e67e22;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  text-transform: capitalize;
}
.submit-btn:hover {
  width: 30%;
  margin: 0 auto;
  color: #fff;
}
/*-=-=-=-=-=-=-=-=-=-=-
 contact design ends here
-=-=-=-=-=-=-=-=-=-=- */

/*-=-=-=-=-=-=-=-=-=-=-
 footer design starts here
-=-=-=-=-=-=-=-=-=-=- */

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #2c3e50;
  color: #fff;
  padding: 25px 0px;
}
.icon i {
  margin-right: 20px;
  font-size: 2rem;
  cursor: pointer;
}
.arrow i {
  background: #fff;
  color: #000;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.arrow i:hover {
  background-color: #e67e22;
}
.text p {
  font-size: 2rem;
}
/*-=-=-=-=-=-=-=-=-=-=-
 footer design ends here
-=-=-=-=-=-=-=-=-=-=- */

/*-=-=-=-=-=-=-=-=-=-=-
      responsive work
-=-=-=-=-=-=-=-=-=-=- */

@media (max-width: 576px) {
  .nav-bar {
    display: block;
  }
  .logo {
    width: 50%;
    margin: 0 auto;
  }
  .logo h1 {
    text-align: center;
  }
  .search-feild {
    text-align: center;
  }

  .cover-content {
    padding: 300px 10px;
  }
  .cover-content h3 {
    font-size: 1.4rem;
  }
  .cover-content h3 span {
    font-size: 1rem;
  }
  .about-section {
    margin: 0px;
    display: block;
    width: 100%;
  }
  .own-feild {
    width: 100%;
    margin: 0px;
  }
  .own-feild img {
  }
  .content {
    width: 100%;
    margin: 0px;
  }
  .content h2 {
    padding-top: 20px;
  }
  .content p {
    text-align: justify;
  }
  .team-members {
    display: block;
  }
  .member {
    width: 100%;
  }
  .contact-form {
    width: 100%;
    margin: 0 auto;
  }
  .footer {
    display: block;
    text-align: center;
  }
  .arrow {
    margin: 25px 0px;
  }
  .text p {
    font-size: 1.3rem;
  }
}
